* {
   font-family: 'Roboto', sans-serif;
}

.nav {
   display: flex;
   flex-direction: row;
   background-color: rgb(60, 60, 60);
   justify-content: space-between;
}

.nav-title {
   color: white;
   margin-left: 10%;
}

.nav-links {
   display: flex;
   flex-direction: row;
   list-style: none;
   width: 40%;
   align-items: center;
}

.nav-links > li {
   margin-right: 2%;
}

.nav-links > li > a {
   text-decoration: none;
   color: rgb(190, 190, 190);
}

.nav-links > li > a:hover {
   color: rgb(220, 220, 220);
}

.nav-links > li > a:active {
   color: rgb(250, 250, 250);
}

.btn  {
   background-color: rgb(46, 142, 167);
   color: white;
   box-shadow: 2px 3px black;
   border: 3px solid black;
   margin: 4%;
   padding: 5%;
   width: 100px;
   font-size: 16px;
}

.btn:hover {
   background-color: rgb(61, 170, 198);
   cursor: pointer;
}

.btn:active {
   box-shadow: 0 0 black;
   margin-top: 8px;
}